body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    z-index: 1;
}

.carousel{
    position: absolute;
    width: 800px;
    height: 600px;
    left: 180px;
    top: 50px;
}


.pesan{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1250px;
    top: 800px;
    background-color: #128C7E;
    color: white;
}

.nama_produk{
    position: absolute;
    left: 30px;
    top: 790px;
}

.konten{
    height: 1000px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
    position: absolute;
    left: 500px;
    top: 580px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


footer{
    position:;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width : 750px) {

    .carousel{
        position: absolute;
        width: 500px;
        height: 600px;
        left: 50px;
        top: 110px;
    }

    .pesan{
        position: absolute;
        width: 200px;
        height: 50px;
        left: 250px;
        top: 1000px;
        background-color: #128C7E;
        color: white;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 500px;
        position: absolute;
        left: 100px;
        top: 550px;
    }

    .nama_produk{
        position: absolute;
        left: 30px;
        top: 750px;
    }
}