body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    z-index: 1;
}

.imgkursi{
    position: absolute;
    width: 400px;
    height: 420px;
    left: 500px;
    top: 150px;
}

.konten{
    height: 900px;
}

.pesan{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1250px;
    top: 690px;
    background-color: #128C7E;
    color: white;
}

.nama_produk{
    position: absolute;
    left: 30px;
    top: 690px;
}

footer{
    position:;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width : 750px) {
    .pesan{
        position: absolute;
        width: 200px;
        height: 50px;
        left: 250px;
        top: 850px;
        background-color: #128C7E;
        color: white;
    }

    .konten{
        height: 900px;
    }

    .nama_produk{
        position: absolute;
        left: 30px;
        top: 590px;
    }
}