.kiri{
  width: 20%;
  background-color: #BB2649;
  height: 100%;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}

.judul{
  font-family: 'Crete Round';
  font-size: 45px;
  color: white;
  text-align: center;
}

.dashboard button{
  width: 90%;
  height: 40px;
  background-color: white;
  margin-left: 10px;
  margin-right: auto;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button{
  margin-top: 10px;
}

.dashboard p{
  padding-left: 10px;
  font-family: 'Poppins';
  font-weight: bold;
  line-height: 0px;
  text-align: left;
}

.profile{
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0px;
}
.setting{
  width: 100%;
  border-top-color: white;
  border-top-width: 2px;
  border-top-style: solid;
  height: 90px;
  position: absolute;
  bottom: 95px;
}

.foto img{
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 5px;
  float: left;
}

.nama{
  float: left;
  padding-left: 40px;
  padding-top: 25px;
  font-family: 'Inter';
  color: white;
}
.nama a{
  color: white;
}

.logout button{
  float: left;
  background-color: #BB2649;
  border: none;
  margin-left: 30px;
  margin-top: 30px;
}

.nama-setting{
  float: left;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
  font-family: 'Inter';
  color: white;
}

.kanan{
  float: right;
  width: 80%;
  height: auto;
}

.judul2{
  font-family: 'Crete Round';
  margin-left: 10px;
  width: 20%;
  float: left;
}

.search{
  float: right;
  height: 34px;
  margin-top: 40px;
  width: 262.5px;
  margin-right: 50px;
  border-radius: 8px
}

.atas{
  height: 150px;
}


.baris2{
  float: right;
  width: 100%;
  height: auto;
}

.container{
  width: 220px;
  height: 110px;
  float: left;
  margin-left: 120px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
  cursor: pointer;
}

.barang{
  margin-left: 5px;
  color: #667085;
  font-size: 20px;
  font-family: 'Inter';
  cursor: pointer;
}
.jumlah{
  margin-left: 40%;
  font-size: 50px;
  font-family: 'Inter';
  color:black;
  cursor: pointer;
}

.pcs{
  float: right;
  margin-right: 30px;
  font-size: 20px;
  font-family: 'Inter';
  margin-top: 30px;
  color: #667085;
  cursor: pointer;
}

.bawah{
  width: 100%;
  height: 500px;
}

.recent-assets{
  width: auto;
  height: 30px;
  margin-top: 120px;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 15px;
  margin-left: 12px;
}

.container2{
  width: 100%;
  height: 200px;;
  position: relative;
  /* border: 1px solid black; */
}

.container-basket {
  background-image: url("basket.jpeg");
  background-size: 300px 200px;
  height: 200px;
  float: left;
  width: 300px;
  cursor: pointer;
  /* border: 1px solid black; */
}

.container-bola {
  background-image: url("bola.jpeg");
  background-size: 300px 200px;
  height: 200px;
  float: left;
  width: 300px;
  cursor: pointer;
  /* border: 1px solid black; */
}
.container-gor {
  background-image: url("gor.jpeg");
  background-size: 300px 200px;
  height: 200px;
  float: left;
  width: 300px;
  cursor: pointer;
  /* border: 1px solid black; */
}

.container4{
  width: 305px;;
  height: 400px;
  float: left;
  margin-left: 70px;
  /* border: 1px solid black; */
  /* background: blue; */
}
.container4 :hover {
  zoom: 1.05;


}
.container-gor :hover, .container-bola :hover, .container-basket :hover {
  zoom: 1.0;
}


.link{
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
  /* border: 1px solid black; */
  cursor: pointer;
}

.olahraga{
  font-weight: bold;
  font-family: 'Inter';
  margin-left: 8px;
  cursor: pointer;
}
.tema{
  float: right;
  margin-right: 10px;
  font-weight: bold;
  font-family: 'Inter';
  cursor: pointer;
}
.tanggal{
  font-family: 'Inter';
  margin-left: 8px;
  cursor: pointer;
}

.blur{
  margin-top: 135px;
  float: left;
  color: white;
  align-self: stretch;
  height: 70px;
  width: 300px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}
.blur1{
  background-color: red;
  padding-top: 5px;
  align-self: stretch;
  height: 70px;
  width: 300px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}

.blur2{
  padding-top: 5px;
  align-self: stretch;
  height: 70px;
  width: 300px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}
.blur3{
  padding-top: 5px;
  align-self: stretch;
  height: 70px;
  width: 300px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}
.text {
  margin-top: 220px;
  height: auto;
  /* border: 1px solid black; */
}

footer{
  background-color: #414141;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: -300px;
  left: 0px;
}

.sekawan img{
  float: left;
  margin-top: 50px;
  /* background-color: black; */
}
.penjelasan{
  width: 350px;
  color: white;
  margin-top: 100px;
  margin-left: 50px;
}
.penjelasan p{
  text-align: justify;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.information{
  float: left;
  margin-left: 100px;
  width: 200px;margin-top: 100px;
}

.informations {
  background-color: #414141;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.kolom1{
  width: 500px;
  height: 300px;
  /* border: 2px solid black; */
  float:left;
}
.kontak-person{
  margin-top: 80px;
  width: 300px;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  background-color: #414141;
}
.kontak{
  background-color: #414141;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
@media screen and (max-width: 960px){
  body{
      width: 100%;
  }

  .kiri{
      width: 100%;
      float: none;
  }

  .kanan{
      width: 100%;
      float: none;
  }

}
