.header{
  border-bottom: 3px solid #D0D0D0;
  width: 100%;
  height: 70px;
}

.info-page{
  width: 306px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.titik1{
  width: auto;
  position: absolute;
  top: 23px;
  left: 671px;
}
.titik2{
  width: auto;
  position: absolute;
  left: 774px;
  top:23px;
}
.titik2 p{
  line-height: 0px;
  font-size: 25px;
  font-weight: bold;
  color: #938B8B;
}
.titik1 p{
  line-height: 0px;
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.approfment{
  float: left;
  width: 100px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Inter';
  color: #938B8B;
}
.Payment{
  float: left;
  width: 100px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Inter';
  color: red;
}
.address{
  color: red;
  float: left;
  width: 100px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Inter'
}

.body{
  border: 1px solid black;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.container{
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  height: 130px;
  margin-top: 20px;
}
.foto{
  float: left;
  border: 1px solid black;
  width: 120px;
  height: 70px;
  margin-left: 20px;
  margin-top: 25px;
}
.foto img{
  border-radius: 10px;
}
.tulisan{
  float: left;
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 10px;
  width: 100px;
  height: 70px;
}
.tulisan h3{
  line-height: 0px;
  font-weight: bold;
  font-family: 'Inter';
}
