body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    z-index: 1;
}

.carousel{
    position: absolute;
    width: 800px;
    height: 400px;
    left: 180px;
    top: 80px;
}


.pesan{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1250px;
    top: 820px;
    background-color: #128C7E;
    color: white;
}

.nama_produk{
    position: absolute;
    left: 30px;
    top: 820px;
}

.konten{
    height: 1000px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


footer{
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width : 750px) {

    .konten{
        height: 900px;
    }

    .carousel{
        position: absolute;
        width: 500px;
        height: 600px;
        left: 50px;
        top: 40px;
    }

    .pesan{
        position: absolute;
        width: 200px;
        height: 50px;
        left: 250px;
        top: 780px;
        background-color: #128C7E;
        color: white;
    }

    .nama_produk{
        position: absolute;
        left: 30px;
        top: 500px;
    }
}